<% layout('layouts/boilerplate.ejs')%>

    <h1 class="display-6 text-center mt-5 mb-5">RePolyglot members</h1>


    <div class="container">

        <div class="row">
            <% users.forEach(user => { %>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card border-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                @<%= user.username %>
                            </h5>
                            <p class="card-text">
                                <%= user.firstname %> <%= user.lastname %>
                            </p>
                            <p class="text-muted">Native in <%= user.nativeLanguage %> </p>
                             <p class="mb-0">
                                                Learning <%= user.languagesLearning[0] %>
                                            </p>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>


        <!-- <% let count=3; %>

            <% for(let user of users) {%>
                <% if(count==3) {%>
                    <div class="row d-flex">
                        <% count=0; %>
                            <% } %>
                                <div class="card border-dark m-1 p-4 col-md-4 offset-md-2 col-sm-6 col-lg-3">
                                    <h5 class="text-center"> <%= user.firstname %>  <%= user.lastname %> </h5>
                                    <p class="text-center">
                                        <a class="link-success" href="/<%= user._id %>/dashboard">
                                            @<%= user.username %></a> </p>      
                                        <p class="text-muted">Native in <%= user.nativeLanguage %> </p>
                                    
                                    <div class="row">
                                        <div class="d-block col-sm">
                                            <p class="mb-0">
                                                <%= user.tasks.length %>
                                            </p>
                                            <span class="text-muted"><small>Total tasks</small> </span>
                                        </div>

                                        <div class="d-block col-sm ms-4">
                                            <p class="mb-0">
                                                <%= user.languagesLearning[0] %>
                                            </p>
                                            <span class="text-muted"><small>Learning</small></span>
                                        </div>

                                        <% if(user.languagesLearning.length> 1) { %>
                                            <div class="d-block col-sm ms-4">
                                                <p class="mb-0">
                                                    <%= user.languagesLearning[1] %>
                                                </p>
                                                <span class="text-muted"><small>Also learning</small> </span>
                                            </div>
                                            <% } %>
                                    </div>

                                </div>
                                <% if(count==2) {%>
                    </div>
                    <% } %>

                        <% count ++; %>
                            <% } %> -->
    </div>