<% layout('layouts/boilerplate.ejs')%>

    
<div class="row mt-5">
    <h1 class="text-center">Edit Task</h1>


    <div class="col-6 offset-3">
        <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label" for="task-title">Task title</label>
                <input class="form-control" id="task-title" type="text" name="task[title]" value="<%= task.title %>">
</div>
<div class="mb-3">
                <label  class="form-label"for="task-description">Describe the task</label>
                <textarea class="form-control" id="task-description" rows="3" type="textarea" name="task[description]"><%= task.description %></textarea>
</div>
<div class="mb-3">
                <label class="form-label" for="task-category">Category:</label>
                <input class="form-control" id="task-category" type="text" name="task[category]" value="<%= task.category %>">
</div>
                <!-- //change so user can add their languages being learnt -->
                <% const languages=['English', 'French' , 'Spanish' , 'Russian' , 'Hebrew' , 'Hungarian' ]; %>
                <div class="mb-3">
<label class="form-label" for="task-language">Target language:</label>
                    <select class="form-control" name="task[language]" id="task-language">
                        <% languages.forEach(function(lang) { %>
                            <option value="<%= lang %>" <%= task.language === lang ? 'selected' : '' %>>
                                <%= lang %>
                            </option>
                            <% }) %>
                    </select>
</div>
                    <button class="btn btn-info">Update task</button>
                    <div class="mt-3">
                        <a href="/tasks/<%= task._id %>">Back to Task</a>
                    </div>
            </div>
        </form>
        </div>
        </div>
    </div>
