<% layout('layouts/boilerplate.ejs')%>
    <!-- <link rel="stylesheet" href="/css/style_index.css" /> -->

    <div class="title-container mt-3">
        <h1 class="display-6">All tasks</h1>
        <a href="/tasks/new" class="btn btn-primary create-new ">Create New</a>
    </div>

    <div class="mt-5 mb-5">
        <div class="container">
          <div class="row">
                   <% tasks.forEach(task => { %>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">

                                        <div class="card border-dark h-100">
                                            <div class="card-header text-lowercase">
                                                #<%= task.category || 'other' %>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-title"><strong>     
                                                        <%= task.title %>             
                                                    </strong>
                                                </p>
                                                <p class="card-subtitle mb-2 text-muted"> by <%= task.creator.username
                                                        %>
                                                </p>

                                            </div>
                                            <div class="card-footer">
                                                <a href="/tasks/<%= task._id%>"
                                                    class="card-link mt-auto">View</a>

                                                <!-- if you are the owner then edit -->
                                                <% if(currentUser && task.creator.id==currentUser._id) { %>
                                                    <a href="/tasks/<%= task._id %>/edit"
                                                        class="card-link btn btn-info mt-auto">Edit</a>
                                                    <% } %>
                                            </div>
                                        </div>

                                    </div>

                                    
                       
<% }) %>
                       
 </div>
        </div>
    </div>