<script src="/js/languages.js" defer></script>

<% layout('layouts/boilerplate.ejs')%>

    <div class="row mt-5" id="current-task-card-container">
        <div class="col-8 offset-1">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"> Current task:
                        <%= task.title %>
                    </div>
                    <p class="card-text">
                        <%= task.description %>
                    </p>
                </div>

                <div class="card-body">
                    <p class="card-text"> 
                      <input id="task-language" type="text" value="<%= task.language %> " readonly hidden>  
                        <div id="flag" onload="fetchFlagUrl('<%= task.language %>')"></div>
                        <div id="flagName"></div>
                    </p>
                    <p> Category:
                        <%= task.category %>
                    </p>

                    <p> Created by:
                        <%= task.creator.username %>

                    </p>

                    <p> Notes:
                        <% for(const note of task.notes) {%>

                            <p>
                                <%= note %>
                            </p>

                            <% } %>
                    </p>
                </div>

                <div class="card-footer">

                    <% if(currentUser && task.creator.equals(currentUser._id)) { %>

                        <a class="card-link btn btn-primary" id="start-task"
                            href="/tasks/<%= task._id %>/start">Start</a>

                            <form action="/tasks/<%= task._id %>/markTaskComplete" method="POST">
                                <input type="text" name="taskToMark" value="<%= task._id %>" hidden>
                                  <input type="text" name="user" value="<%= currentUser._id %>" hidden>
                        <button class="card-link btn btn-primary" type="submit">Mark Complete</button>


                        </form>
                        <a href="/tasks/<%=task._id%>/edit" class="card-link btn btn-warning">Edit</a>
                        <form class="d-inline card-link" action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>

                        <%} else if(currentUser) { %>
                            <form class="d-inline card-link" action="/tasks" method="POST">
                                <button class="add-task btn btn-primary">Add to tasks</a>
                            </form>
                            <% } %>

                </div>
            </div>
        </div>
    </div>

     <div class="mt-5">
        <p>
        <a class="link-primary" href="/tasks">Back to tasks list</a>
        </p>
    </div> 