<% layout('layouts/boilerplate.ejs')%>
    <div class="row mt-5" id="current-task-card-container">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"> Current task:
                        <%= task.title %>
                    </div>
                    <p class="card-text">
                        <%= task.description %>
                    </p>
                </div>

                <div class="card-body">
                    <p class="card-text"> Target Language:
                        <%= task.language %>
                    </p>
                    <p> Category:
                        <%= task.category %>
                    </p>

                    <p> Created by:
                        <%= task.creator.username %>

                    </p>

                    <p> Notes:
                        <% for(const note of task.notes) {%>

                            <p>
                                <%= note %>
                            </p>

                            <% } %>
                    </p>
                </div>

                <div class="card-body">

                    <% if(currentUser && task.creator.equals(currentUser._id)) { %>

                        <a class="card-link btn btn-primary" id="start-task"
                            href="/tasks/<%= task._id %>/start">Start</a>
                        <a class="card-link btn btn-primary" href="#">Mark Complete</a>
                        <a href="/tasks/<%=task._id%>/edit" class="card-link btn btn-warning">Edit</a>
                        <form class="d-inline card-link" action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>

                        <%} else { %>
                            <form class="d-inline card-link" action="/tasks" method="POST">
                                <button class="btn btn-primary">Add to tasks</a>
                            </form>
                            <% } %>

                </div>
            </div>
        </div>
    </div>

    <!-- when starting task, hide all above and show all below -->


    <!-- 
    <div id="start-task-container" class="d-none mt-5">
        <h5> <%= task.title %></h5>
        <div id="task-notes">
            <h6>Add note:</h6>
            <form action="/tasks/<%= task._id %>/notes" method="POST">

                <div class="mb-3">
                    <label for="">Note:</label>
                    <input type="text">
                </div>
                <button class="btn btn-primary">Save note</button>
            </form>
        </div>
    </div>

    <div class="mt-5">
        <a href="/tasks">Back to tasks list</a>
    </div> -->