<link rel="stylesheet" href="/css/styleDashboard.css" />
<script src="/js/dashboard.js"> defer</script>


<% layout('layouts/boilerplate.ejs')%>

    <div class="container">
        <div class="main-body">

            <div class="row mt-5">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <!-- <img src="" alt="profile pic" class="rounded-circle" width="150"> -->
                                <div class="mt-3">
                                    <h4>
                                        <%=user.username%>
                                    </h4>
                                    <p class="text-secondary mb-3">
                                        <%= user.about || "Aspiring Polyglot" %>
                                    </p>
                                    <!-- <p class="text-muted font-size-sm">bla bloa bla</p> -->
                                    <% if(currentUser && !user.equals(currentUser._id)) { %>
                                        <button class="btn btn-primary">Follow</button>
                                        <button class="btn btn-outline-primary">Message</button>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= user.firstname %>
                                        <%= user.lastname %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= user.email %>
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Native Language</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= user.nativeLanguage %>
                                </div>
                            </div>


                            <% if(currentUser && user._id.equals(currentUser._id)) { %>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-warning" href="/<%= user._id %>/edit">Edit</a>
                                        <button class="btn btn-danger" id="delete-profile" data-bs-toggle="modal"
                                            data-bs-target="#myModal">Delete</button>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6" id="verify-delete-box">
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>


            <!--  -->

            <div class="row mt-32">

                <div class="col-md-6">
                    <div class="card mb-2 h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Learning: </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    <% for(let language of user.languagesLearning) { %>
                                        <form action="/<%=user._id%>/languages?_method=DELETE" method="POST">
                                            <input class="" name="lang" readonly value="<%= language %>" />

                                            <button class="btn btn-danger" type="submit">X</button>
                                        </form>
                                        <% } %>
                                </div>

                                <% if(currentUser && user._id.equals(currentUser._id)) { %>
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary" href="/<%= user._id %>/languages/new">+</a>
                                        <!-- <a class="btn btn-warning" id="edit-languages">Edit Languages</a> -->
                                    </div>

                                    <% } %>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Tasks</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    <% for(let task of user.tasks) { %>

                                        <p>
                                            <%= task.title %>
                                        </p>
                                        <p>
                                            <%= task.language %>
                                        </p>
                                        <% } %>

                                            <p>
                                                total: <%= user.tasks.length %>
                                            </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="text-center">
                                    <h6 class="mb-0">Words list</h6>
                                </div>

                                <% if(currentUser && user._id.equals(currentUser._id)) { %>
                                    <div class="col-sm-12">

                                        <button class="btn" id="" data-bs-toggle="modal"
                                            data-bs-target="#newWordListModal"> + </button>
                                    </div>
                                    <% } %>
                                        <% if(user.wordLists.length> 0) { %>
                                            <div>
                                                <% for(let wordList of user.wordLists) { %>
                                                    <p>
                                                        <button class="btn btn-primary word-list-link" type="button"
                                                            data-bs-toggle="offcanvas"
                                                            data-bs-target="#offcanvas-<%= wordList._id %>"
                                                            aria-controls="offcanvas-<%= wordList._id %>">
                                                            <%= wordList.name %> (<%= wordList.language %>)
                                                        </button>
                                                        <!-- href="/list/<%= wordList._id %>"  -->
                                                    </p>

                                                    <!-- off canvas -->
                                                    <div class="offcanvas offcanvas-start" tabindex="-1"
                                                        id="offcanvas-<%= wordList._id %>"
                                                        aria-labelledby="offcanvasLabel-<% wordList._id %>">
                                                        <div class="offcanvas-header">
                                                            <h5 class="offcanvas-title"
                                                                id="offcanvasLabel-<% wordList._id %>">List:
                                                                <%= user.username %>
                                                            </h5>
                                                            <button type="button" class="btn-close text-reset"
                                                                data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                        </div>
                                                        <div class="offcanvas-body">
                                                            <h1 class="display-6 mt-4">
                                                                <%= wordList.name %>
                                                            </h1>
                                                            <p>
                                                                category: <%= wordList.category %>
                                                                    language: <%= wordList.language %>
                                                                        <%= wordList.description %> <span> <button
                                                                                    class="word-list-btn"> edit
                                                                                    description</button></span>
                                                            </p>
                                                            <button class="word-list-btn">add word</button>
                                                            <% for(let word of wordList.words) { %>
                                                                <p>
                                                                    <%= word %> <span><button
                                                                                class="word-list-btn">-</button></span>
                                                                </p>
                                                                <% } %>
                                                                    <form action="/<%= user._id %>/lists?_method=DELETE"
                                                                        method="POST">

                                                                        <input type="hidden" name="wordListId" value=<%= wordList._id %>
                                                                            readonly>
                                                                        <button type="submit" class="word-list-btn">
                                                                            delete List</button>

                                                                    </form>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <% } %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Just a second, <%= user.username %>!</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to permanently delete your profile?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                            <form id="delete-user-form" action="/<%= user._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- modal -->

            <div class="modal fade" id="newWordListModal">
                <form id="add-word-list" action="/<%= user._id %>/lists" method="POST">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">New Word List</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">

                                <label for="word-list-name">Name your list:</label>
                                <input type="text" id="word-list-name" name="listName" required>

                                <label for="word-list-language">List Language:</label>
                                <input type="text" id="word-list-language" name="language">

                                <label for="new-word-list-category-select">Select category:</label>
                                <select id="new-word-list-category-select" name="select">
                                    <option value="nouns">Nouns</option>
                                    <option value="verbs">Verbs</option>
                                    <option value="adjectives">Adjectives</option>
                                    <option value="adverbs">Adverbs</option>
                                    <option value="conjunctives">Conjunctives</option>
                                    <option value="pronouns">Pronouns</option>
                                    <option value="other">Other</option>
                                </select>

                                <label for="word-list-language">List Description:</label>
                                <input type="text" id="word-list-language" name="description">

                                <!-- words -->
                                <div id="word-list-words">
                                    <label for="list-word">Add word:</label>
                                    <input type="text" id="list-word" name="words[]">
                                    <p>You can add more words later</p>
                                    <button type="submit">Save list</button>

                                    <button type="button" onclick="addMoreWords()" id="add-more-to-word-list">+</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Back</button>
                                <button type="submit" class="btn btn-success">Save list</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>