<% layout('layouts/boilerplate.ejs')%>


    user languages learning list

    user tasks link
    user vocab to learn list (from chrome extension)


    <ul> stats
        <li>total tasks completed</li>
        <li>days since registration</li>

    </ul>

    <div class="container">
        <div class="main-body">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="" alt="profile pic" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>
                                        <%=user.username%>
                                    </h4>
                                    <p class="text-secondary mb-1">bla bla bla </p>
                                    <p class="text-muted font-size-sm">bla bloa bla</p>
                                    <button class="btn btn-primary">Follow?</button>
                                    <button class="btn btn-outline-primary">Message?</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Kenneth Valdez
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= user.email %>
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Native Language</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    native language here
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">


                                    <button class="btn btn-info">Edit</button>

                                    <!-- <form action="/users/<%= user._id %>?_method=DELETE" method="POST"> -->
                                    <button class="btn btn-warning" id="delete-profile" data-bs-toggle="modal"
                                        data-bs-target="#myModal">Delete</button>
                                    <!-- </form> -->
                                </div>

                                <div class="row">
                                    <div class="col-sm-6" id="verify-delete-box">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Just a second, <%= user.username %>!</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to permanently delete your profile?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
                            <form id="delete-user-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>