  <% layout('layouts/boilerplate.ejs')%>

    <h1 class="mt-4 mb-4 text-center">Edit Profile</h1>

    <div class="col-md-8 col-sm-12 col-lg-6 offset-lg-3 offset-md-2">
    <form action="/<%= user._id %>?_method=PUT" method="POST">

        <div class="form-floating mb-3">
              <input type="text" id="firstname" class="form-control" name="user[firstname]" value="<%=user.firstname || '' %>" placeholder="firstname">
            <label for="firstname" class="form-label">First Name:</label>
          
        </div>
         <div class="form-floating mb-3">
           
            <input type="text" id="lastname" class="form-control" name="user[lastname]" value="<%=user.lastname || '' %>" placeholder="lastname">
             <label for="lastname" class="form-label">Last Name:</label>
        </div>
         <div class="form-floating mb-3">
            
            <input type="text" id="nativeLanguage" class="form-control" name="user[nativeLanguage]" value="<%=user.nativeLanguage || '' %>" placeholder="native language">
       <label for="nativeLanguage" class="form-label">Native Language</label>
        </div>

        <div class="form-floating mb-3">
           
            <input type="text" id="username" class="form-control" name="user[username]" value="<%= user.username %>" placeholder="username" required>
             <label for="username" class="form-label">Username:</label>
        </div>

    
        <button class="btn btn-primary update-profile-btn">Update Profile</button>
        </form>
</div>